<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./nav.ejs') %>
    <%= JSON.stringify(user) %>
    <%= JSON.stringify(blog) %>

    <div class="container">
        <% blogs.forEach(blog => { %>
            <img src=<%= blog.coverImg %> >
            <div>
                <h5>
                    <%= blog.title %>
                </h5>
                <p>
                    <%= blog.body %>
                </p>
            </div>
        <% }) %>
    </div>
    <%- include('./partials/script') %>
</body>
</html>